
Plugins>ImageJ on GPU (CLIJx)>Labeling, "ImageJ2 Gaussian blur (CLIJx, experimental)", net.haesleinhuepf.clijx.imagej2.ImageJ2GaussianBlur

Plugins>ImageJ on GPU (CLIJx)>Measurement, "ImageJ2 Tubeness (CLIJx, experimental)", net.haesleinhuepf.clijx.imagej2.ImageJ2Tubeness
Plugins>ImageJ on GPU (CLIJx)>Measurement, "ImageJ2 Frangi Vesselness (CLIJx, experimental)", net.haesleinhuepf.clijx.imagej2.ImageJ2FrangiVesselness

Plugins>ImageJ on GPU (CLIJx)>Filter, "ImageJ2 Median Sphere (CLIJx, experimental)", net.haesleinhuepf.clijx.imagej2.ImageJ2MedianSphere
Plugins>ImageJ on GPU (CLIJx)>Filter, "ImageJ2 Median Box (CLIJx, experimental)", net.haesleinhuepf.clijx.imagej2.ImageJ2MedianBox


